table {
  width: 350px;
}
button {
  width: 95%;
  height: 95%;
  background-color: #fff;
  border: solid 2px black;
  border-radius: 8px;
}
button:active {
  background-color: lightgrey;
}
td {
  width: 75px;
  height: 75px;
}
h2 {
  padding-left: 6px;
}
